// core styles

html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #5C6B73;
  padding: 10px 30px;
  position: relative;
  color: #fff;
  font-family: 'Pangolin';

  h1 {
    padding: 0;
    letter-spacing: 2.4px;
  }
}
