<div id="video-page" ng-show="showVideo">
  <h2>{{video.title}}</h2>
  <span class="close">
    <i ng-click="closeVideo()" class="fa fa-close" aria-hidden="true"></i>
  </span>
  <div id="video-container">
    <video ng-src="{{videoUrl}}" id="video"></video>

    <div class="player-controls" ng-class="{'paused': !playing }">
      <span class="big-play" ng-class="{'hide': playing }">
        <i ng-click="pausePlay()" class="fa fa-play-circle-o" aria-hidden="true"></i>
      </span>
      <span class="play-pause">
        <i ng-click="pausePlay()" class="fa fa-{{playing ? 'pause' : 'play'}}" aria-hidden="true"></i>
      </span>
      <span class="fullscreen" ng-click="fullScreen()">Full Screen Playback</span>
    </div>
  </div>
</div>

