// video page styles

#video-page {
  color: #fff;
  font-family: 'arial';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  padding: 30px 50px;
  text-align: center;
}

#video-container {
  display: inline-block;
  text-align: left;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #000;
  position: relative;

  &:hover {
    .player-controls {
      display: block;
    }
  }
}

#video {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 360px;
}

.close {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
}

.player-controls {
  display:none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.paused {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
  }
}

.play-pause {
  font-size: 28px;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fullscreen {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: arial;
  font-size: 14px;
}

.big-play {
  position: absolute;
  font-size: 60px;
  top: 50%;
  line-height: 80px;
  margin: -40px 0 0 -40px;
  display: block;
  left: 50%;
  width: 80px;
  text-align: center;
  cursor: pointer;

  &.hide {
    display: none;
  }
}
