<div id="home">
  
  <div class="shelf" arrows-pressed>
    <div class="video" ng-repeat="video in videos.entries" style="width: {{video.images[0].width + 'px'}}" tabindex="{{$index}}" ng-keydown="keydown($event)" ng-click="playVideo(video.id)">
      <img ng-src="{{video.images[0].url}}" width="{{video.images[0].width + 'px'}}" height="{{video.images[0].height + 'px'}}">
      <span>{{video.title}}</span>
    </div>
  </div>

  <div class="shelf">
    <div class="video" ng-repeat="video in watchedVideos" style="width: {{video.images[0].width + 'px'}}" tabindex="{{$index}}" ng-keydown="keydown($event)" ng-click="playVideo(video.id)">
      <img ng-src="{{video.images[0].url}}" width="{{video.images[0].width + 'px'}}" height="{{video.images[0].height + 'px'}}">
      <span>{{video.title}}</span>
    </div>
  </div>

  <video-player></video-player>
</div>
