// home page styles

#home {
  .shelf {
    white-space: nowrap;
    overflow-y: scroll;
    margin: 20px 0 10px;
  }

  .video {
    display: inline-block;
    margin: 10px 0 0 15px;
    vertical-align: top;
    transition: all .2s linear;
    box-sizing: border-box;
    padding-bottom: 15px;
    cursor: pointer;

    img {
      background-color: #9DB4C0;
    }

    span {
      display: block;
      width: 100%;
      white-space: normal;
    }

    &:focus, &:hover {
      transform: scale(1.05);
    }
  }
}