html,
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #5C6B73;
  padding: 10px 30px;
  position: relative;
  color: #fff;
  font-family: 'Pangolin';
}
header h1 {
  padding: 0;
  letter-spacing: 2.4px;
}
#home .shelf {
  white-space: nowrap;
  overflow-y: scroll;
  margin: 20px 0 10px;
}
#home .video {
  display: inline-block;
  margin: 10px 0 0 15px;
  vertical-align: top;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 15px;
  cursor: pointer;
}
#home .video img {
  background-color: #9DB4C0;
}
#home .video span {
  display: block;
  width: 100%;
  white-space: normal;
}
#home .video:focus,
#home .video:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
spinner.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 99;
  opacity: 0.8;
}
.sk-fading-circle {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  z-index: 100;
  top: 50%;
  margin-top: -30px;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
#video-page {
  color: #fff;
  font-family: 'arial';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  padding: 30px 50px;
  text-align: center;
}
#video-container {
  display: inline-block;
  text-align: left;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #000;
  position: relative;
}
#video-container:hover .player-controls {
  display: block;
}
#video {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 360px;
}
.close {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
}
.player-controls {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.player-controls.paused {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
}
.play-pause {
  font-size: 28px;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.fullscreen {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: arial;
  font-size: 14px;
}
.big-play {
  position: absolute;
  font-size: 60px;
  top: 50%;
  line-height: 80px;
  margin: -40px 0 0 -40px;
  display: block;
  left: 50%;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.big-play.hide {
  display: none;
}
